[mysqld]
skip-host-cache # from docker image
skip-name-resolve # from docker image

skip-external-locking

#
# * Fine Tuning
#
key_buffer_size		= 16M
max_allowed_packet	= 16M
thread_stack		= 192K
thread_cache_size       = 8
# This replaces the startup script and checks MyISAM tables if needed
# the first time they are touched
myisam_recover_options  = BACKUP
#max_connections        = 100
#table_cache            = 64
#thread_concurrency     = 10

#
# * Query Cache Configuration
#
query_cache_limit	= 1M
query_cache_size        = 16M

expire_logs_days	= 10
max_binlog_size   = 100M

character-set-server  = utf8mb4
collation-server      = utf8mb4_general_ci

